/*_________________________________________Seccion main___________________________________________ */
@mixin fex-center {
  display: flex;
  justify-content: center;
}

.contenedor {
 @include fex-center;
}

.bloque1,
.bloque2,
.bloque3 {
  border: solid 3px $color-negro;
  width: 30%;
  height: auto;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  margin-bottom: 10px;
  overscroll-behavior-x: 15px;
}

.bloque1 {
  background-image: url(https://i.ibb.co/G2tq4Pc/Fondo-bloques-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-top: 0px;

  h2 {
    color: $color-negro;
    padding: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0f0f073;
  }

  p {
    padding: 2em;
    font-weight: bold;
    color: $color-negro;
    font-size: 1.2em;
    text-decoration: double;
    background-color: #f0f0f073;
  }

  a {
    display: block;
    margin: 15px 30px;
    margin-top: 5em;
    background-color: $color-verde-tfit-transp;
    padding: 1em;
    color: $color-negro;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
    border: solid 2px $color-negro;

    &:hover {
      background-color: $color-verde-tfit;
      color: $color-blanco;
    }
  }
}

.bloque2 {
  background-image: url(https://i.ibb.co/chJTXW3/Fondo-bloques-2-new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  h2 {
    padding: 2em;
    font-weight: bold;
    font-size: 1.2em;
    color: $color-negro;
    background-color: #f0f0f073;
  }

  p {
    padding: 1.6em;
    font-weight: bold;
    color: $color-negro;
    font-size: 1.2em;
    text-decoration: double;
    background-color: #f0f0f073;
  }

  a {
    display: block;
    margin: 15px 30px;
    margin-top: 3em;
    padding: 1em;
    background-color: $color-verde-tfit-transp;
    text-decoration: none;
    margin-bottom: 4em;
    border-radius: 5px;
    color: $color-negro;
    font-size: 1.2em;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
    border: solid 2px $color-negro;

    &:hover {
      background-color: $color-verde-tfit;
      color: $color-blanco;
    }
  }
}

.bloque3 {
  background-image: url(https://i.ibb.co/d7PfFHj/bloque-strecink2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  border-radius: 15px;

  h2 {
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    font-weight: bold;
    font-size: 1.2em;
    color: $color-negro;
    background-color: #f0f0f073;
  }

  p {
    padding: 2em;
    font-weight: bold;
    color: $color-negro;
    font-size: 1.2em;
    text-decoration: double;
    background-color: #f0f0f073;
  }

  a {
    display: block;
    margin: 15px 30px;
    background-color: $color-verde-tfit-transp;
    padding: 1em;
    color: $color-negro;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 2.5em;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
    border: solid 2px $color-negro;

    &:hover {
      background-color: $color-verde-tfit;
      color: $color-blanco;
    }
  }
}

.whatapp {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 62rem;
  right: 17px;
  z-index: 2;
}
/* ______________________________Seccion Main del Carrucel________________________________________________*/

.videos-incio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.carrucel-pc,
.cuestionario-form1 {
  background-image: url(https://i.ibb.co/gmp92mP/Fondo-bloques-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  padding: 1em;
  border: solid 3px $color-negro;
  margin: auto 5px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  margin-bottom: 5px;
}

.carrucel-pc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  margin-left: 48px;
  height: auto;
  margin-top: 15px;

  h2 {
    margin-bottom: 1em;
    font-weight: bold;
  }
}

.carrucel-pading {
  padding: 0 20px 20px 20px;
}

.boton-color {
  background-color: $color-negro;
  height: auto;
}

.carousel-caption h5 {
  color: aliceblue;
  background-color: $color-negro;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: red;
  color: $color-blanco;
  border-radius: 50px;
  padding: 0.5rem;
}
/*___________________________Seccion Main Formulario pagina Inicio______________________________________________*/

.cuestionario-form1 {
  margin-top: 15px;
  width: auto;
  background-image: url(https://i.ibb.co/gmp92mP/Fondo-bloques-2.jpg);
  margin-right: 48px;

  h2 {
    font-size: 1.8em;
    font-weight: bold;
  }
}

.formulario1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  label {
    display: block;
    margin-right: auto;
    margin-left: 20%;
    font-size: 1.3rem;
  }

  input {
    width: 55%;
    border: solid 1px $color-negro;
    height: 2.5em;
    border-radius: 5px;
    font-weight: bold;
  }
}

.button-item {
  font-size: 1.3rem;
}

.barra-tarea {
  border: solid 2px $color-negro;
  border-radius: 5px;
  width: 75%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form1-item {
  border: solid 1px $color-negro;

  &:hover {
    background-color: $color-verde-tfit-transp;
  }
}

.button-item {
  padding: 2px;
  border: solid 1px $color-negro;
  background-color: $color-verde-tfit-transp;
  box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.568);
  margin-bottom: 1em;

  &:hover {
    background-color: $color-verde-tfit-transp;
    color: $color-blanco;
  }
}
/*_________________________________"Seccion Pagina Contactos"___________________________________________*/

.contacto-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://i.ibb.co/0J2VR4t/fondo-harder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  border: solid 3px $color-negro;
  padding: 1em 5em 2em 5em;
  margin: 3em 8em 2em 8em;
  border-radius: 25px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
}

.contacto-contenedor-titulo {
  background-image: url(https://i.ibb.co/0J2VR4t/fondo-harder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em 3em 1em 3em;
  margin-bottom: 1em;
  border-radius: 14px;
  font-size: 2.5em;
  text-align: center;
}

.contacto-contenedor p {
  font-size: 1.5em;
}

.sangria {
  text-indent: 0.5em;
  text-align: justify;
}
/*___________________________pag. "Contacto" Formulario_____________________________________*/

.contacto-formulario {
  background-image: url(https://i.ibb.co/NLSyyxw/fondo-222222-222.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45em;
  height: auto;
  border: solid 3px $color-negro;
  padding: 1em 5em 2em 5em;
  margin: 0 auto;
  margin-bottom: 5em;
  border-radius: 25px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
}

.form2 {
  background-color: rgba(255, 255, 255, 0.562);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 15px;
  gap: 0.5em;
}

.contato-name {
  border: solid 2px $color-negro;
  border-radius: 5px;
  width: 25em;
  font-size: 1em;
}

.form2 {
  label {
    font-size: 1.2em;
    font-weight: bold;
  }

  input {
    height: 2em;
    background-color: $color-verde-selec;

    &:hover {
      background-color: $color-verde-tfit-transp;
    }
  }
}

.contacto-opciones {
  background-color: $color-verde-selec;

  &:hover {
    background-color: $color-verde-tfit-transp;
  }
}

#contacto-date {
  width: 12em;
  font-size: 1.4em;
  text-align: center;
  margin-left: 5em;
}

#estado,
#objetivo {
  border: solid 2px $color-negro;
  border-radius: 5px;
  width: 25em;
  height: 2.5em;
  font-size: 1em;
}

.texto-form2 {
  background-color: $color-verde-selec;
  border: solid 2px $color-negro;
  border-radius: 10px;
  width: 98%;
  height: 27em;
}

.contacto-boton {
  background-color: rgb(209, 209, 209);
  border-radius: 25px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  width: 15em;
  margin: auto;
  font-size: 1.2em;
}

.tildes {
  @include fex-center;
  text-align: center;
}
/*_____________________________"Seccion Pagina Sobre Mi"____________________________________________*/

.sobre-mi-encabezado {
  @include fex-center;
  border: solid 1px $color-negro;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  border-radius: 8px;
  padding: 0 1em 0 1em;
  margin: 0 15px 15px 35px;
  width: 95%;

  h2 {
    font-size: 3em;
  }
}

.sobre-mi-presentacion {
  background-image: url(https://i.ibb.co/zHhb4pw/fondo-gym-22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  border: solid 1px $color-negro;
  border-radius: 15px;
  margin: 0 15px 15px 35px;
  width: 95%;
  overflow-wrap: normal;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  text-align: center;

  img {
    height: 500px;
    padding: 2em;
    margin-left: 1rem auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 14px;
  }

  p {
    padding: 0 4em 0 4em;
    font-size: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 14px;
  }
}

/*_________bloke Planes_____________*/

.sobre-mi-planes {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ibb.co/QkGHz7d/fondo-3333-333.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px $color-negro;
  padding: 1em;
  margin: 0 15px 15px 35px;
  width: 95%;
  border-radius: 14px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  text-align: center;

  h3 {
    font-size: 2.8em;
    padding: 0 0.8em 0 0.8em;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 14px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2em;
    padding: 0 4em 1em 4em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 14px;
  }
}

/*_________bloke clases_____________*/

.sobre-mi-presentacion {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.foto-perfil-usuario {
  @include fex-center;
  width: 100%;
}

.sobre-mi-clases {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ibb.co/zHhb4pw/fondo-gym-22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px $color-negro;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  padding: 1em;
  margin: 0 15px 15px 35px;
  width: 95%;

  h3 {
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em 1em 1em 1em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 0.5rem;
    border-radius: 14px;
  }

  p {
    font-size: 2em;
    padding: 0 4em 1em 4em;
    text-align: justify;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 14px;
  }
}

.sobre-mi-imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 0 4em 0 4em;
  margin: 0 15px 10px 15px;

  img {
    width: 800px;
    margin-bottom: 5px;
    margin-bottom: 25px;
  }
}

.sobre-mi-formacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ibb.co/QkGHz7d/fondo-3333-333.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px $color-negro;
  border-radius: 15px;
  padding: 1em;
  margin-top: 1rem;
  width: 95%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
}

.sobre-mi-formacion-img {
  @include fex-center;
  justify-content: space-around;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 3rem;
  width: 95%;
  overflow: hidden;
}

.sobre-mi-formacion p {
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 14px;
}

.sobre-mi-formacion-img img {
  width: 400px;
  margin: auto;
  border: solid 1px $color-negro;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568);
}

.sobre-mi-formacio-titulo h5 {
  font-size: 3rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.582);
  padding: 1rem;
  border-radius: 14px;
}

.sobre-mi-despedida {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ibb.co/zHhb4pw/fondo-gym-22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px $color-negro;
  border-radius: 15px;
  padding: 1em 4em 1em 4em;
  width: 95%;
  margin-bottom: 5em;
  margin-top: 1.2rem;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);

  p {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    background-color: rgba(240, 255, 255, 0.459);
    border-radius: 14px;
  }
}

/*_________________Paginas Alumnos,  "En contruccion"_________________________*/

.contenedorConstruccion {
  position: relative;
  top: 12em;
}
