/*______________________________________________________________________________________________*/
/*___________________________________ SECCION MOVIL_____________________________________________*/
/*______________________________________________________________________________________________*/

@media (max-width: 1100px) {
  body {
    padding-top: 110px;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .bloque1 p,
  .bloque2 p,
  .bloque3 p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1100px) {
  body {
    padding-top: 110px;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .bloque1 p,
  .bloque2 p,
  .bloque3 p {
    font-size: 1.2rem;
  }

  .header {
    background-color: white;
    height: 70px;
    border: solid 2px rgb(212, 211, 211);
    border-radius: 10px;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.568);
    left: 3px;
    min-width: none;
  }

  .imagen {
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
    margin-top: 0px;
    margin-left: 10px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
    list-style: none;
    background-color: rgb(231, 231, 231);
    position: fixed;
    left: 0;
    top: 75px;
    width: 100%;
    padding: 15px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    border-radius: 5px 0 0 5px;
    border: solid black 2px;
  }

  .nav-menu-item {
    font-size: 1rem;
    margin: 0 15px;
    margin-top: 20px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }

  .nav-menu-link {
    padding: 8px 14px;

    &:hover {
      background: none;
      color: rgb(66, 172, 17);
    }
  }

  .nav-menu-link-active {
    background: none;
    color: rgb(66, 172, 17);
  }

  .nav-toggle {
    color: rgb(209, 209, 209);
    display: block;
    width: 35px;
    height: 35px;
    margin-top: 13px;
    margin-right: 25px;
    padding: 2px;
    font-size: 1.5rem;
  }

  .nav-menu_visible {
    left: 4%;
    z-index: 2;
  }

  /*________________________________________Seccion main Movil_______________________________________ */

  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    height: auto;
  }

  h1 {
    margin-top: 5px;
    height: auto;
  }

  .bloque1,
  .bloque2,
  .bloque3 {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 14px;
    width: 95%;
    height: 650px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  }

  .bloque1 {
    background-position: center;
    height: auto;

    h2 {
      font-size: 2rem;
      margin-top: 20px;
      padding: 0px;
    }

    p {
      color: rgb(0, 0, 0);
      padding: 1rem;
      margin-top: 0.2rem;
      font-size: 1.2rem;
    }

    a {
      border-radius: 5px;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
      margin-top: 5px;
      padding: 4px;
    }
  }

  .bloque2 {
    background-image: url(https://i.ibb.co/chJTXW3/Fondo-bloques-2-new.jpg);
    background-size: cover;
    background-position: center;
    height: auto;

    h2 {
      padding: 1rem;
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      padding: 1rem;
      font-weight: bold;
      color: rgb(10, 10, 10);
      margin-bottom: 10px;
      font-size: 1.2rem;
      text-decoration: blink;
      margin-top: 1px;
    }

    a {
      margin: 1.5rem;
      color: black;
      border-radius: 5px;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
      padding: 4px;
    }
  }

  .bloque3 {
    background-color: white;
    height: auto;

    h2 {
      font-size: 2rem;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 1rem;
    }

    p {
      font-size: 1.2rem;
      padding: 1rem;
      font-weight: bold;
      color: rgb(10, 10, 10);
      margin-bottom: 5px;
      margin-top: 5px;
      text-decoration: blink;
    }

    a {
      border-radius: 5px;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
      margin-top: 5px;
      padding: 4px;
    }
  }

  .whatapp {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 85%;
    right: 15px;
    z-index: 1;
  }

  /* ______________________________Seccion del Carrucel Movil________________________________________*/

  .videos-incio {
    flex-direction: row;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .carrucel-pc {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 0;
    border: solid 2px black;
  }

  .ancho-max-carrusel {
    min-width: 330px;
  }

  .carrucel-pc h2 {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 1.3em;
  }

  .tam-img-mov {
    height: 150px;
  }

  .margen-boton-izq {
    margin-left: 5px;
  }

  .margen-boton-der {
    margin-right: 5px;
  }

  /*___________________________Seccion Formulario Movil ______________________________________________*/

  .cuestionario-form1 {
    padding: 0;
    margin-bottom: 15px;
    margin-right: 0;
    min-width: 300px;
    border: solid 2px black;

    h2 {
      margin-top: 13px;
      font-weight: bold;
    }
  }

  .formulario1 input {
    width: 55%;
    border: solid 2px rgb(75, 74, 74);
    height: 2em;
    border-radius: 5px;
    font-weight: bold;
  }

  .button-item {
    font-size: 1rem;
  }

  /*_______________________________Seccion Legales Movil ______________________________________________*/

  .contacto-legales {
    justify-content: center;
    margin-right: 0px;
    left: 0;

    ol {
      margin: 0;
      padding: 0;
    }

    img {
      width: 20px;
      height: 20px;
      margin: 0px 10px 0px 10px;
    }

    h3 {
      display: none;
    }
  }

  .legal {
    margin-top: 15px;
    font-size: 0.5rem;

    p {
      margin-bottom: 50px;
    }
  }

  /*____________________________"Pag Alumnos" Movil_________________________________*/

  .contenedorConstruccion {
    z-index: -1;
  }

  /*_____________________________"Pagina Contactos" Movil___________________________*/

  .contacto-contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
    border: solid 3px black;
    border-radius: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
    margin: 0.1em 0 0.5em 0;
    padding: 0.5em 0.8em 0.5em 0.8em;

    h2 {
      background-image: url(https://i.ibb.co/0J2VR4t/fondo-harder.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0.1em 0.3em 0 0.3em;
      font-size: 1.4em;
      border: solid 2px rgba(255, 255, 255, 0.322);
      border-radius: 25px;
      padding: 0.3em;
    }

    p {
      font-size: 1em;
      font-weight: bold;
      border: solid 2px rgba(255, 255, 255, 0.322);
      border-radius: 25px;
      padding: 0.3em;
      margin-left: 0.4em;
      margin-right: 0.4em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }

  .sangria {
    text-indent: 0.5em;
    text-align: justify;
  }
}
/*___________________________pag. "Contacto" Formulario_____________________________________*/

@media only screen and (max-width: 480px) {
  .contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0.5em 0 2.5em 0;
    border: solid 3px black;
    border-radius: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
  }

  .form2 {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  .contato-name {
    border: solid 2px black;
    border-radius: 5px;
    width: 23em;
    font-size: 0.7em;
  }

  .form2 {
    label {
      font-size: 0.9em;
    }

    input {
      height: 2.5em;
      background-color: rgb(208, 241, 208);

      &:hover {
        background-color: rgba(43, 230, 43, 0.534);
      }
    }
  }

  .contacto-opciones {
    background-color: rgb(208, 241, 208);

    &:hover {
      background-color: rgba(43, 230, 43, 0.534);
    }
  }

  #contacto-date {
    width: 16em;
    font-size: 0.9em;
    text-align: center;
    margin-left: 2em;
  }

  #estado,
  #objetivo {
    border: solid 2px black;
    border-radius: 5px;
    width: 18em;
    height: 2em;
    font-size: 0.9em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
  }

  .texto-form2 {
    border: solid 2px black;
    border-radius: 10px;
    width: 100%;
    height: 17em;
    margin-top: 0.4em;
  }

  .contacto-boton {
    border-radius: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.568);
    width: 10em;
    margin: auto;
    font-size: 1.2em;
  }

  .tildes {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /*_____________________________"Pagina Sobre Mi" Movil_____________________________*/

  .sobre-mi-encabezado {
    display: flex;
    justify-content: center;
    background-image: url(https://i.ibb.co/0J2VR4t/fondo-harder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px black;
    padding: 0 0.5em 0 0.5em;
    margin: 0 10px 20px 15px;

    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }

  .sobre-mi-presentacion {
    border: solid 1px black;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    width: 95%;
    overflow: hidden;

    img {
      height: 300px;
      padding: 2em;
      margin-left: 1rem auto;
      margin-bottom: 1rem;
      margin-top: 1rem;
      background-color: rgba(255, 255, 255, 0.288);
      border-radius: 14px;
    }

    p {
      padding: 0 1em 0 1em;
      background-color: rgba(255, 255, 255, 0.507);
      border-radius: 14px;
    }
  }

  .sobre-mi-clases {
    border: solid 1px black;
    border-radius: 10px;
    margin: 1rem 10px 10px 10px;
    width: 95%;
    overflow: hidden;
  }

  .sobre-mi-planes {
    border: solid 1px black;
    border-radius: 10px;
    margin: 1rem 10px 10px 10px;
    width: 95%;
    overflow: hidden;

    p {
      padding: 0 1em 1em 1em;
      background-color: rgba(255, 255, 255, 0.438);
      border-radius: 14px;
    }
  }

  .sobre-mi-imagenes {
    border-color: #ffffff;
    overflow: hidden;

    img {
      width: 410px;
      margin-bottom: 5px;
      margin-bottom: 10px;
      overflow: wrap;
    }
  }

  .textps-p- {
    text-align: center;
  }

  .sobre-mi-clases p {
    padding: 0;
    padding: 0 0.3em 0 0.3em;
  }

  .adaptacion-letra {
    font-size: 0.5rem;
  }

  .sobre-mi-formacion-img {
    display: flex;
    flex-wrap: wrap;
  }

  .sobre-mi-formacion {
    h5 {
      font-size: 1.7rem;
      margin-top: 0.8rem;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.548);
      padding: 0.5rem;
      border-radius: 14px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  .sobre-mi-formacion-img img {
    width: 250px;
    margin-top: 0.8rem;
  }

  .sobre-mi-despedida p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
}
