@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

c:usersmatiaÞsktoptuteprogramacionv-c-proyectswebpersonaltrainnerindex.html c:usersmatiaÞsktoptuteprogramacionv-c-proyectswebpersonaltrainnerprogramas.js c:usersmatiaÞsktoptuteprogramacionv-c-proyectswebpersonaltrainnerstyle.css c:usersmatiaÞsktoptuteprogramacionv-c-proyectswebpersonaltrainnerimagenes* {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 140px 20px 0;
  background-color: rgb(218, 213, 213);
  margin: 0;
  margin-bottom: 2rem;
  justify-content: center;
}
