$color-naranja: #f3a136d0;
$color-violeta: rgba(227, 157, 233, 0.692);
$color-blanco: white;
$color-negro: black;
$color-verde-tfit: rgb(216, 236, 42);
$color-verde-tfit-transp: rgba(216, 236, 42, 0.452);

